.navbar-nav{
    justify-content: end;
}
.navbar-dark .navbar-nav .nav-link {
    color: rgb(0, 0, 0);
}

.nav-item{
    font-size: 25px;
    letter-spacing: 1px;
    text-align: center;
    text-transform: uppercase;
}
#fondo {
    position: fixed;
    min-height: 100%;
    min-width: 100%;
    z-index: -1;
    margin-top: -5em;
}