.nav-item{
    font-size: 25px;
    letter-spacing: 1px;
    text-align: center;
    text-transform: uppercase;
}
#fondo {
    min-height: 100%;
    min-width: 100%;
    width: 100%;
}
#fondo{
    position: fixed;
    top: 0;
    z-index: 1;
}

#contenido{
    position: fixed;
    top: 0;
    z-index: 2;
}

ul{
    list-style-type: none;
}
header{
    position: fixed;
    width: 100%;
}
li{
    font-size: 15px;
    letter-spacing: 1px;
    text-align: center;
    text-transform: uppercase;
}
.nav-link {
    color: rgb(0, 0, 0);
}
.nav-link:hover{
    color: white;
}

.d-flex{
    flex-wrap: wrap;
}