.navbar-nav{
    justify-content: end;
}
.navbar-dark .navbar-nav .nav-link {
    color: rgb(0, 0, 0);
}
.navbar-dark .navbar-nav .nav-link:hover {
    color: rgb(236, 22, 22);
}
.nav-item{
    font-size: 25px;
    letter-spacing: 1px;
    text-align: center;
    text-transform: uppercase;
}

#fondo {
    min-height: 100%;
    min-width: 100%;
    z-index: -1;
    margin-top: -10em;
}
ul{
    list-style-type: none;
}
li{
    font-size: 15px;
    letter-spacing: 1px;
    text-align: center;
    text-transform: uppercase;
}
.nav-link {
    color: rgb(0, 0, 0);
}
.nav-link:hover{
    color: white;
    background-color: wheat;
}